body {
    text-align:center;

}
.first{
    color:#926339;
   padding:20px;
   ;
}
.first:hover{
  animation-name:down;
    animation-duration:5s  
}
@keyframes down{
    from{
     background-color:#926339;
       color:white;
       border-radius:25px;
    }
    to{
     
    }
}
a{
    text-decoration:none;
    border:1px solid #926339;
    border-radius:5px;
    color:#926339;
    padding:2px;
    
}
.second{
    background-color:#926339;
    color:white;
    border-radius:10px;
    padding:20px;
    animation-name:up;
    animation-duration:5s;
}
@keyframes up{
    from{
        width:10px;
        border-radius:125px;
        font-size:1px;
        bottom:40px;
    }
    to{
       width:300px; 
       
    }
}
.third{
    color:#926339;
    padding:20px;
}
.four{
    
}
.row div{
   
   float:left;
    width:110px;
    
}
.column{
    background-color:#926339;
    color:white;
    padding:2px 1px;
    border-radius:10px;
}
.col{
    color:#926339;
    padding:2px 1px;
}
